<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login & Registration</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
        crossorigin="anonymous" />
    <style>
        .longer-rounded-corners {
            border-radius: 15px 15px;
        }
    </style>
</head>

<body>
    <header class="row align-items-start border sticky-top mt-1 ps-3">
        <h1 class="col-2">Tracker</h1>
        <nav class="col-9 navbar navbar-expand-lg navbar-dark bg-dark rounded">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <h5 class="nav-link active">The Project Task Manager</h5>
                        </li>
                        
                    </ul>
                </div>
            </div>
            </nav>
    </header>
    <div class="wrapper container text-center col-12">
        <div class="container-12 page_header my-4">
            <h1>Welcome</h1>
            {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
        </div>
        <main class="container main_content col-8">
            <div class="row justify-content-center">
                <div class="row justify-content-around">
                    <div class="col-5 border border-secondary longer-rounded-corners">
                        <div class="container text-start">
                            <div class="container text-center mt-2">
                                <h3>Register</h3>
                            </div>
                            <form action="/users/register" method="POST">
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col form-group">
                                        <input type="text" name="first_name" placeholder="First Name" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="form-group">
                                        <input type="text" name="last_name" placeholder="Last Name" class="form-control" />
                                    </div>
                                </div>                            
                                <div class="row mb-2">
                                    <div class="form-group">
                                        <input type="date" name="birthday" placeholder="Birthday" class="form-control" />
                                    </div>
                                </div>                            
                                <div class="row mb-2">
                                    <div class="form-group">
                                        <input type="email" name="email_address" placeholder="Email Address" class="form-control" />
                                    </div>
                                </div>                            
                                <div class="row mb-2">
                                    <div class="form-group">
                                        <input type="password" name="password" placeholder="Password" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="form-group">
                                        <input type="password" name="confirm_password" placeholder="Confirm Password" class="form-control" />
                                    </div>
                                </div>
                                <div class="row mb-3 justify-content-center">
                                    <div class="col text-center">
                                        <button type="submit" class="btn btn-sm btn-secondary">Register</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-5 border border-secondary d-flex align-items-center longer-rounded-corners">
                            <div class="container text-start">
                                <div class="container text-center mt-2">
                                    <h3>Login</h3>
                                </div>
                                <form action="/users/login" class="input_forms" method="POST">
                                    {% csrf_token %}
                                    <div class="row mb-2">
                                        <input type="email" name="email_address" placeholder="Email Address" class="form-control" />
                                    </div>
                                    <div class="row mb-2">
                                        <input type="password" name="password" placeholder="Password" class="form-control password_input" />
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="col text-center">
                                            <button type="submit" class="btn btn-sm btn-secondary">Login</button>
                                        </div>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="row align-items-start border fixed-bottom">
        <div class="col navbar navbar-expand-lg navbar-dark bg-dark rounded"></div>
    </footer>
    <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>