<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Contributors</title>
    
</head>
<body>
<header class="row align-items-start bg-light border-bottom mb-2 mt-0 ps-3 fixed-top">
    <h1 class="col-2">Tracker</h1>
    <nav class="col-9 navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
</header>

<main class="container-fluid p-1" style="margin-top: 60px;">
    <div class="row-10 border d-flex justify-content-center p-1 vh-100" >
        
        <div class="col-11 border p-1">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h3 class="border ps-5">Contributers</h3>
                </div>
                <div class="col-11 mb-1 bg-secondary d-flex justify-content-center rounded">
                    <div class="col-7 text-light py-2 ps-3">Contributor Request</div>
                    <div class="col-4 text-light py-2">Accepted Contributors</div>
                </div>
                <div class="col-6">
                    {% for this_task in all_my_tasks %}
                    {% if this_task.contributors.all|length > 0 %}
                    <div class="col">
                        <div class="col mb-2">
                            <h5 class="border mb-0" >{{this_task.name}}</h5>
                            {% for contrib in this_task.contributors.all %}
                            
                            <div class="col d-flex">
                                <div class="col d-flex border p-1">
                                    <div class="d-grid gap-2 col-2 me-5">
                                        <button class="btn btn-success ms-1 my-2" style="height:40px;" type="button">Approve</button>
                                        <button class="btn btn-danger ms-1 my-2" style="height:40px" type="button">Deny</button>
                                    </div>
                                    <div class="ms-2">
                                        <h6>Contributor Name: {{contrib.first_name}}</h6>
                                        <h6>Contributions:</h6>
                                        <ul>
                                            {% for all_contrib in contrib.con_tasks.all %}
                                            <li>{{all_contrib.name}}</li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="col-5">
                    <div class="container-fluid border d-flex">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>TaskName</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for task in user.created_tasks.all %}
                                    {% for contributor in task.contributors.all %}
                                    
                                <tr>
                                    <td scope="row">{{contributor.first_name}} {{contributor.last_name}}</td>
                                    <td>{{task.name}}</td>
                                </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>
</main>


<footer class="row align-items-start border fixed-bottom">
    <div class="col navbar navbar-expand-lg navbar-dark bg-dark rounded"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>