<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <title>Edit Sub-Task</title>
</head>
<body>
<header class="row align-items-start border sticky-top mt-1 ps-3">
    <h1 class="col-2">Tracker</h1>
    <nav class="col-9 navbar navbar-expand-lg navbar-dark bg-dark rounded">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/dashboard">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
        </nav>
</header>

<main class="container-fluid p-1 mt-1">
    <div class="row-10 border d-flex justify-content-center p-1">
        <div class="col-11 border p-1">
            <h3 class="border-bottom ps-3 py-2">Edit</h3>
            <div class="col">
                <div class="form-group">
                    <form action="/tasks/{{this_task.id}}/{{this_sub.id}}/edit" method="POST">
                    {% csrf_token %}
                    <div class="row d-flex">
                        <div class="container mb-3 mt-2">
                            {{ edit_sub_form.name }}
                        </div>
                    </div>
                    <div class="row d-flex mb-3">
                        <div class="container d-flex col-5">
                            <div class="container col">
                                <p>Start Date:</p>
                            </div>
                            <div class="container col-9">
                                {{ edit_sub_form.start_date }}  
                            </div>
                        </div>
                        <div class="container d-flex col-5">
                            <div class="container col">
                                <p>End Date:</p>
                            </div>
                            <div class="container col-9">
                                {{ edit_sub_form.end_date }}  
                            </div>
                        </div>                        
                    </div>                    
                    <div class="row mb-3">
                        <div class="container">
                            {{ edit_sub_form.description }}
                        </div>
                    </div>                    
                </div>                
            </div>
            
            <div class="row d-flex justify-content-end">
                <div class="col text-center">
                    <button type="submit" class="btn btn-sm btn-secondary">Save Task</button>
                </div>
            </div>
        </form>
        </div>
    
</main>

<footer class="row align-items-start border fixed-bottom">
    <div class="col navbar navbar-expand-lg navbar-dark bg-dark rounded"></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>